
*{
  margin: auto;
}

h2{
  text-align: center;
}

input{
  text-align:center;
  width: auto;
  margin-left: auto;
}

button{
 
}
.weather{
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  margin-top: 200px;
}
body{
  background-image: url('../assets/forecast.jpeg');
  background-size: cover;

}

.weatherp{
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  margin-top: 30px;
  padding: 10px;
}